/*mainStructure*/


* {
margin: 0;	
padding: 0;
box-sizing: border-box;
}

@font-face{
font-family: 'singkong';
src: url("Singkong.ttf");
}

body{
background-color: #7D8F97;	
text-stroke: 1px  #199EDC;
-webkit-text-stroke: 1px  #199EDC;
font-size: 20px;
}


/*header Section*/

#header{
border-bottom: 1px solid black;
background-color: #39535E;
display: flex;
justify-content: center;
align-items: center;
}


#header img{
width: 40px;
height: 40px;
}


#finishButtonDiv{
font-weight:bold ;
font-size: 2.2rem;
text-stroke:0.5px;
margin-left: auto;
}

/*buttons from the left*/

#leftMenu
{
margin: 5px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

#leftMenu img{
border-radius: 1000px;
box-shadow:5px 5px 20px black;
}

#finishButton:hover, #editButton:hover, #deleteButton:hover
{
cursor: pointer; 
}

#finishButton:hover
{
content: url('images/addButtonHover.png');
}


#editButton:hover
{
content: url('images/editButtonHover.png');
}

#deleteButton:hover
{
content: url('images/deleteButtonHover.png');
}


/*container properties*/


#mainContainer
{
font-family: "singkong";
font-size: 1.4rem;
height:93vh ;
display: grid;
grid-template-columns: 70px repeat(2, 1fr);
grid-template-rows: 1fr 30px;
}
.toCenterItems
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.smallContainer
{
margin: 20px;
border: 2px solid black;
/*padding-top: 95px;*/
/*padding-bottom: 95px;*/
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: 10px 10px 10px;
background-color:  #39535E ;
}

input {
border: 1px solid black;
border-radius: 5px;
width: 80%;
}

::placeholder{
color: black;
padding-left: 10px;
text-stroke:1px  black;
border: 2px solid black;
-webkit-text-stroke: 1px black;
}

/*the 2 container from the right side of the page*/


#rightContainer {
display: flex ;
flex-direction: column;
justify-content: space-around;
}

#productContainer, #extraContainer{
padding: 80px;
}


/*Finish button from the bottom of the page*/

.addButton{
grid-column-start:1 ;
grid-column-end: -1;
align-self: center;
justify-self: center;
margin-top: 20px;
border-radius: 5px;
box-shadow: 5px 5px 10px;
width: 90%;
background-color: #578A9F;
border: 2px solid black;
text-stroke: 0px;
-webkit-text-stroke: 0px;
}

.addButton:hover{

background-color: #15313D;

}
